*{
  margin: 0px;
  padding: opx;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.digital-clock{
  width: 350px;
  height: 180px;
  background-color: antiquewhite;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}
h1{
  color: orangered;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 40px;
}
.time{
  color: black;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 10px;
}
.date{
  color: black;
  font-weight: 700;
  font-size: 25px;
}